/* GLOABAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.5;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.highlight {
    color: #ec1111;
    font-weight: bold;
}

.btn-1 {
    height: 2.5rem;
    background-color: #ec1111;
    border: none;
    padding: 0 1.2rem;
    color: #fff;
    border-radius: 0.5rem;
}

.dark {
    padding: 1rem;
    background-color: #354249;
    color: #fff;
    margin: 0.6rem 0;
}

/* HEADER */
header {
    background-color: #354249;
    color: #fff;
    padding: 1rem 0;
    border-bottom: 3px solid #ec1111;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    font-size: 2.2rem;
}

.header-content ul {
    display: flex;
}

.header-content li + li {
    margin: 0 0.5rem;
}

.header-content ul a {
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
}

.header-content ul .current a {
    color: #ec1111;
    font-weight: bold;
}

.header-content a:hover {
    color: #ccc;
    font-weight: bold;
}

/* SHOWCASE */
.showcase {
    min-height: 400px;
    background: url(../images/showcase.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
}

.showcase h1 {
    font-size: 3.5rem;
    margin-bottom: 0.6rem;
}

.showcase p {
    font-size: 1.2rem;
}

/* NEWSLETTER */
.newsletter {
    background-color: #354249;
    padding: 1.5rem 0;
    color: #fff;
}

.newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-content input {
    height: 2.5rem;
    width: 250px;
    font-size: 1.2rem;
    margin-right: 0.2rem;
}